html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.site__content {
    flex-grow: 1;
}

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 500px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.right {
    flex: 1;
    background-color: black;
    transition: 1s;
    background-image: url("../src/Assets/Images/LOGO-WHITE-GOLD.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header>h2 {
    margin: 0;
    font-weight: normal;
}

.header>h4 {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    color: rgba(0, 0, 0, .4);
}

.form {
    width: 100%;
    max-width: 350px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.form>p {
    text-align: right;
}

.form>p>a {
    color: #000;
    font-size: 14px;
}

.form-field {
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
}

.form-field:focus {
    border-color: #E0B942;
}

.form>button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #E0B942 0%, #000000 100%);
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.form-text {
    height: 76px;
    padding: 8px 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    margin-top: 20px;
}

.form-text:focus {
    border-color: #E0B942;
}

.thanks-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
}

.welcome {
    text-align: center;
}

@media (max-width: 600px) {
    .welcome {
        font-size: 18px;
    }
}

.basco-img {
    border-radius: 25px;
    /* box-shadow: rgba(224, 185, 66) 0px 5px 20px; */
    background: linear-gradient(to right, #333333 55%, #E0B942 100%);
}

@media (max-width: 870px) {}